/*
.main-header {
  outline: #b22222 solid 1px;
}
*/
/*
.header-container {
  outline: #808000 solid 1px;
}
*/
/*
.header-link {
  outline: #000280 solid 1px;
}
*/
/*
.popover-content {
  outline: #ff6347 solid 1px;
}
*/
/*
.popover-content-link {
  outline: #fbff00 solid 1px;
}
*/
/*
.popover-remove {
  outline: #008080 solid 1px;
}
*/
/*
.header-nav-site {
  outline: #808000 solid 1px;
}
*/
/* 
.header-nav-site-list {
  outline: #000280 solid 1px;
} */