/*
.main-header {
  outline: #b22222 solid 1px;
}
*/
/*
.header-container {
  outline: #808000 solid 1px;
}
*/
/*
.header-link {
  outline: #000280 solid 1px;
}
*/
/*
.popover-content {
  outline: #ff6347 solid 1px;
}
*/
/*
.popover-content-link {
  outline: #fbff00 solid 1px;
}
*/
/*
.popover-remove {
  outline: #008080 solid 1px;
}
*/
/*
.header-nav-site {
  outline: #808000 solid 1px;
}
*/
/* 
.header-nav-site-list {
  outline: #000280 solid 1px;
} */
/*
.slider-container {
  outline: #07bb7f solid 1px;
}
*/
/*
.slider-product-item {
  outline: #9c8500 solid 1px;
}
*/
/*
.slider-button {
  outline: #196d00 solid 1px;
}
*/
/*
.slider-pagination-button {
  outline: #b22222 solid 1px;
}
*/
/*
.slider-product-img {
  outline: #011f74 solid 1px;
}
*/
/*
.slider-link {
  outline: #011f74 solid 1px;
}
*/
/*
.slider-button-wrapper {
  outline: #003261 solid 1px;
}
*/
/*
.slider-pagination-list {
  outline: #6c22b2 solid 1px;
}
*/
