@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.categories {
  width: 1160px;
  margin: 0 auto;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.categories-link {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #000000;
}

.categories-link::before {
  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe17f;
}

.link-virtual-reality::before {
  background-image: url(../images/virtual-reality.svg);
}

.link-monopod::before {
  background-image: url(../images/monopod.svg);
  background-position: bottom;
}

.link-cameras::before {
  background-image: url(../images/camera.svg);
}

.link-braslet::before {
  background-image: url(../images/fitness-bracelet.svg);
}

.link-watch::before {
  background-image: url(../images/smart-watch.svg);
}

.link-quadrocopter::before {
  background-image: url(../images/quadrocopter.svg);
}

.categories-link:hover::before {
  background-color: #ffc700;
}

.categories-link:active {
  opacity: 0.3;
}

.categories-link:focus-visible {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}